---
import Section from '../components/common/Section.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <Section class="mt-16">
        <h1 class="font-display pb-8 text-3xl sm:text-4xl">Well, this is awkward</h1>
        <h2 class="pb-8 text-xl sm:text-2xl">404 - Page not found</h2>
        <p>
            It seems that this page does not exist. If you want to return to safety, <a
                class="font-medium underline underline-offset-4"
                href="/">click here to go home</a
            >.
        </p>
    </Section>
</Layout>
