---
import { GLOBAL } from '../../lib/variables';
---

<div class="flex flex-col items-center gap-8 sm:flex-row">
    <img
        src="/michael-dam-unsplash.webp"
        alt="Michael Dam on Unsplash"
        class="z-0 mb-4 h-40 w-40 max-w-40 rounded-full grayscale"
    />
    <div>
        <h1 class="font-display opsz text-center text-3xl font-semibold sm:text-left sm:text-4xl">
            {GLOBAL.username}
        </h1>
        <h2 class="text-center font-mono text-xl font-medium sm:text-left sm:text-2xl">
            Retro-Inspired Theme &<br />Built for Astro
        </h2>
    </div>
</div>
