---
import Prose from './Prose.astro';
---

<article class="flex w-full justify-center">
    <div class="w-full max-w-[100%]">
        <Prose>
            <slot />
        </Prose>
    </div>
</article>
