---
import { ClientRouter } from 'astro:transitions';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <link rel="preconnect" href="https://fonts.bunny.net" />
        <link
            href="https://fonts.bunny.net/css?family=ibm-plex-mono:400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet"
        />
        <link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
        <ClientRouter />
        <slot name="head" />
    </head>
    <body class="zag-bg zag-text zag-transition font-mono">
        <Header />
        <main>
            <slot />
        </main>
        <Footer />
        <script is:inline src="/pagefind/pagefind-ui.js" defer="true"></script>
    </body>
</html>
